body{
margin: 0;
padding: 0;
border: none;
background-color:#afdaf1;
height: 100vh;
width: 100%;
}
.slide{
float: left;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
margin-top: 10px;
}
.mySlides {
 float: left;
 width: 75%;
 border-radius:50px ;
}
.botoes_slide{
float: left;
position:absolute;
margin-top:75vh;
width: 85%;
margin-left: 7.5%;
}
.button1{
float: left;
display: inline-block;
padding: 16px;
background-color: #044c72;
color: white;
font-weight: bold;
font-size: 24px;
transition: 0.6s ease;
border-radius:5px;
user-select: none;
outline: none;
cursor: pointer;
}
.button2{
float: left;
margin-left: 91%;
display: inline-block;
padding: 16px;
background-color: #044c72;
color: white;
font-weight: bold;
font-size: 24px;
transition: 0.6s ease;
border-radius:5px;
user-select: none;
outline: none;
cursor: pointer;
}
.coluna1{
float: left;
width: 100%;
background-color: rgba(11, 65, 116, 0.2);
}
.img1{
float: left;
margin-left: 5%;
margin-top: 5%;
margin-bottom: 5%;
}
.img1 img{
width: 600px;
border-radius: 70px;
}
.texto_insu{
float: right;
width: 40%;
margin-top: 6%;
margin-right: 5%;
text-align: justify;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 18px;
}
.texto_insu h2{
text-align: center;
margin-top: 5px;
color: #01141f;
}
.coluna2{
float: left;
width: 100%;
}
.img2{
float: right;
margin-right: 2%;
margin-top: 10%;
margin-bottom: 5%;
}
.img2 img{
width: 700px;
border-radius: 20px;
}
.texto_diabetes{
float: left;
width: 40%;
margin-top: 5%;
margin-left: 3%;
margin-bottom: 5%;
text-align: justify;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 18px;
}
.texto_diabetes h2{
text-align: center;
margin-top: 5px;
color: #01141f;
}